@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;900&display=swap");

:root {
  --black-pure: #000000;
  --dark-iron: #121212;
  --blood-red: #ff0000;
  --text-gray: #a0a0a0;
}

body {
  background-color: var(--black-pure);
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0;
  text-transform: uppercase; /* Le da ese toque de fuerza */
}

h1,
h2,
.titulos-agresivos {
  font-family: "Anton", sans-serif; /* Fuente de impacto tipo cartel */
  letter-spacing: 2px;
}

/* Scrollbar estilo gótico/oscuro */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--black-pure);
}
::-webkit-scrollbar-thumb {
  background: var(--blood-red);
}
